{% extends "blog/base.html" %}

{% block title %}Autors{% endblock %}

{% block content %}

<h1 class="text-center mb-4">Autors</h1>

<div class="container">

    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for author in authors %}

        <div class="col">

            <div class="card h-100 shadow-sm">

                <div class="card-body">

                    <h5>
                        {{ author.first_name }} {{ author.last_name }}
                    </h5>

                    <p>{{ author.email }}</p>

                    <a href="{% url 'author-detail-page' author.id %}" class="btn btn-primary">
                        Veure autor
                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}